{% extends 'layout.twig' %}

{% block title %}{{parent()}} - Tests{% endblock title %}

{% block body %}
	<div class="container" >
		<h1>Choose your test</h1>
		{% for test in tests %}
    		<div class="col-lg-3 col-sm-6">
                <div class="card hovercard">
                    <div class="cardheader">
    					<a href="{{url}}/{{test.id}}">{{test.name}}</a>
                    </div>
                    <div class="avatar">
                        <img alt="" src="/img/notifs/nicolas.png">
                    </div>
                    <div class="info">
<!--                         <div class="title">
    <a target="_blank" href="http://scripteden.com/">Hnhack</a>
</div>
<div class="desc">Passionate technology</div>
<div class="desc">Curious developer</div> -->
                    </div>
                    <div class="bottom">
                    </div>
                </div>
            </div>
        {% endfor %}
	</div>
	
{% endblock %}