<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			<title>{% block title %}Codaj{% endblock %}</title>
			<meta name="keywords" content="HTML,CSS,JavaScript,AngularJS,websockets,développement web,coding,learning,platform,buzz">
			<meta name="author" content="Nicolas Hedoire">
			<meta name="description" content="Codaj est une plateforme qui permet d'apprendre à coder en partageant son savoir via de micro-exemples , le principe est d'avancer fragment par fragment afin de ne rien oublier dans le processus de développement en donnant les bonnes pratiques et surtout donner un ordre à tous cela. On pourra par la suite créer une application simplement, elle sera générée grace à la puissance de nodejs." />
			<link rel="icon" href="/img/favicon.png">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css">
			<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
			<link rel="stylesheet" href="/assets/css/style.css">
		{% endblock %}
	</head>
	<body ng-app="coding" ng-controller="codingCtrl">
		{% block nav %}
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="/"><img width="25" src="/img/home/logo-white.png" alt="Codaj" title="Codaj"></a>
			    </div>
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			     <ul class="nav navbar-nav">
			      <li>
			        <a href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
			      </li>
			      <li>
			        <a href="/code">Code</a>
			      </li>
			      <li>
			        <a href="/tests">Tests</a>
			      </li>
			      <li>
			        <a href="/database">Database</a>
			      </li>
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
			    {% if connected == false %}
			      <li>
			      	<a href="auth/facebook" >Login</a>
			      </li>
			    {% else %}
 				  <li class="dropdown" uib-dropdown>
  					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
						<i class="fa fa-bell-o" aria-hidden="true"></i>
 					 </a>
			       	<ul class="dropdown-menu drop-notifs" uib-dropdown-menu>
			        	<li>
			        		<a href="#">
								<div class="notif-div">
									<a title="title" href="#" class="notif-avatarLink">
										<img alt="img" src="/img/notifs/nicolas.png" class="notif-avatarImg">
									</a>
									<div class="notif-divUser">
										<div class="notif-divName">
											<a href="#">Nicolas Hedoire</a>
										</div>
										<div class="notif-message pointer" title="See this message">
											<span>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium fugiat, optio tempore consequatur facere iste hic perferendis rerum quam aspernatur quaerat architecto autem, nobis similique illum reiciendis ullam odit saepe.
												<a href="#"><span>nicolashedoire@hotmail.com</span></a>
											</span>
										</div>
									</div>
									<div class="notif-divStats">
										<ul class="notif-Arrange">
											<li class="notif-ArrangeSizeFit">
												<a href="#" title="9.840 Points">
													<span class="notif-StatLabel">Points</span>
													<span class="notif-StatValue">9.840</span>
												</a>
											</li>
											<li class="notif-ArrangeSizeFit">
												<a href="#" title="885 Following">
													<span class="notif-StatLabel">Following</span>
													<span class="twPc-StatValue">885</span>
												</a>
											</li>
											<li class="notif-ArrangeSizeFit">
												<a href="#" title="1.810 Followers">
													<span class="notif-StatLabel notif-block">Followers</span>
													<span class="notif-StatValue">1.810</span>
												</a>
											</li>
										</ul>
									</div>
								</div>            	
			            	</a>
			            </li>
			          </ul>
  					</li>
			        <li class="dropdown" uib-dropdown>
  						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
  							<span id="hello">{{username}}</span>
  							<span class="caret"></span>
  						</a>
  						<ul class="dropdown-menu" uib-dropdown-menu>
  						  <li><a href="/myaccount">My account</a></li>
  						  <li><a href="/subscriptions">My Subscriptions</a></li>
  						  <li role="separator" class="divider"></li>
  						  <li><a href="/logout">Disconnect</a></li>
  						</ul>
					</li> 
				{% endif %}
			      </ul>
			    </div>
			  </div>
			</nav>
			<ol class="breadcrumb">
				<li><a href="/">Home</a></li>
				{% if arianeText != false %}
					<li class="blue">{{arianeText}}</li>
				{% endif %}
			</ol>
		{% endblock %}
		{% block voice %}
			{% if connected == true %}
			<div class="container" ng-hide="false" ng-controller="ModalDemoCtrl as $ctrl" >
				<div class="col-md-1">
					<div id="voice" class="round start">
						<span>
							<i class="fa fa-microphone" aria-hidden="true"></i>
						</span>
					</div>
				</div>
				<div class="col-md-11">
				    <div class="input-group">
					    <input type="text" class="form-control form-search" focus="{[{bigData.postQuestion}]}" ng-init="question=''" ng-model="question" aria-label="..." placeholder="{[{bigData.searchPlaceholder}]}">
					    <div class="input-group-btn dropdown" uib-dropdown>
					    	<button type="button" class="btn btn-default dropdown-toggle btn-search" uib-dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    	{[{ selectedCategory }]}
					    	<span class="caret"></span>
					    	</button>
					        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
					          <li ng-repeat="category in categories" ng-click="selectCategory(category.name , category.id)"><a class="pointer">{[{category.name}]}</a></li>
					          <li role="separator" class="divider"></li>
					          <li><a href ng-click="$ctrl.open()">Add new category</a></li>
					        </ul>
					    </div>
					</div>
				</div>

				<div class="col-md-12 mt10" id="module"></div>
		  			<div class="btn-group" data-toggle="buttons">
				        <label class="btn btn-ui" ng-model="bigData.postQuestion" uib-btn-checkbox>Insert question</label>
					</div>
					<button class="btn btn-ui" ng-class="{disabled: bigData.postQuestion == false}" ng-click="postQuestion()">Post data</button>
			</div>

			<div class="modal-demo">
			    <script type="text/ng-template" id="myModalContent.html">
			        <div class="modal-header">
			            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
			        </div>
			        <div class="modal-body" id="modal-body">
			            <ul>
			                <li ng-repeat="item in $ctrl.items">
			                    <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{[{ item }]}</a>
			                </li>
			            </ul>
			            Selected: <b>{[{ $ctrl.selected.item }]}</b>
			        </div>
			        <div class="modal-footer">
			            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
			            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
			        </div>
			    </script>
			    <div ng-show="$ctrl.selected">Selection from a modal: {[{ $ctrl.selected }]}</div>
			    <div class="modal-parent">
			    </div>
			</div>

			<hr>
		{% endif %}
		{% endblock %}

		<div class="container-fluid">
			<div class="row">

				{% block body %}
				{% endblock %}
			</div>
		</div>

		{% block footer %}
			<footer class="footer">
		 	  	<div class="container">
		 	  		<div class="row">
			 	  		<div class="col-md-3">
			 	  		 	<select name="language" id="language" class="form-control">
					 	      <option value="en">Anglais</option>
					 	      <option value="fr">Français</option>
					 	      <option value="es">Espagnol</option>
					 	    </select>	
			 	  		</div>
			 	  		<div class="col-md-6 mt10">
			 	  			<ul class="list-inline">
			 	  				<li class="list-inline-item">
			 	  				<span>Privacy</span> 
			 	  				<span> - </span>
			 	  				</li>
			 	  				<li class="list-inline-item">
			 	  				<span>Terms</span>
			 	  				</li>
			 	  				<li class="list-inline-item">
			 	  				<span>Contact</span>
			 	  				<span> - </span>
			 	  				</li>
			 	  				<li class="list-inline-item">
			 	  				<span>About</span>
			 	  				<span> - </span>
			 	  				</li>
			 	  				<li class="list-inline-item">
			 	  				Change language
			 	  				</li>
			 	  			</ul>
			 	  		</div>
		 	  		</div>
		 	  	</div>
		 	</footer>
		{% endblock %}
		{% block scripts %}
			<!-- version 1.6.1 -->
			<script type="text/javascript" src="/components/angular/angular.js"></script>
			<script type="text/javascript" src="/components/angular-route/angular-route.js"></script>
			<script type="text/javascript" src="/components/angular-bootstrap/ui-bootstrap.js"></script>
			<script type="text/javascript" src="/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
			<script type="text/javascript" src="/components/chart.js/dist/Chart.js"></script>
			<script type="text/javascript" src="/assets/js/app.js"></script>
			<script type="text/javascript" src="/assets/js/angular/app.js"></script>
			     <!-- The actual modal template, just a bit o bootstrap -->
		{% endblock %}
	</body>
</html>
