{% extends 'layout.twig' %}

{% block title %}{{parent()}} - Code{% endblock title %}

{% block body %}

	<div class="container" ng-controller="codeController">
		<h1>Code</h1>
	</div>
	
{% endblock %}