{% extends 'layout.twig' %}

{% block title %}{{parent()}} - Code{% endblock title %}

{% block body %}

	<div class="container" ng-controller="codeController">
		<h1>Code</h1>
	</div>

<p data-height="265" data-theme-id="dark" data-slug-hash="xgqJJO" data-default-tab="result" data-user="nicolashedoire" data-embed-version="2" data-pen-title="xgqJJO" class="codepen">See the Pen <a href="http://codepen.io/nicolashedoire/pen/xgqJJO/">xgqJJO</a> by Nicolas.hedoire (<a href="http://codepen.io/nicolashedoire">@nicolashedoire</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>

	
	
{% endblock %}