{% extends 'layout.twig' %}

{% block title %}{{parent()}} - Code{% endblock title %}

{% block body %}

	<div class="container" ng-controller="codeController">
		<h1>Code</h1>
		<div class="form-group">
  			<label for="comment">Comment:</label>
  			<textarea class="form-control" rows="5" id="comment"></textarea>
		</div>
	</div>
	
{% endblock %}