*{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}


html{
  overflow: hidden;
  overflow-y: scroll;
}

/* General */
.pointer{
	cursor : pointer;
}

.blue{
  color : #337ab7;
}

.round{
	  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 50%; 
  /* Firefox 1-3.6 */
  -moz-border-radius: 50%; 
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 50%; 
}

/* --------------------- Overide */

/* redefine btn style */

.btn-ui , .btn-ui-white {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-ui , .btn-ui-white{
    text-transform: uppercase;
    border-right: none;
    border-bottom: none;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.btn-ui {
    color: #ffffff;
    background-color: #2196f3;
    border-color: transparent;
}

.btn-ui-white {
    color: rgb(30,30,30);
    background-color: rgb(250,250,250);
    border-color: transparent;
}

.h55{
  height: 55px;
}

.btn-ui:hover{
  color: #ffffff;
}


/* container */

body > .container {
    padding: 25px 15px 0;
}

.navbar-nav>li>a.menu-avatar-drop{
  padding: 5px;
  padding-top: 7px;
  padding-bottom: 8px;
}

.avatar-menu{
  margin-right: 5px;
}

/* navbar */

.navbar{
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 0%; 
  /* Firefox 1-3.6 */
  -moz-border-radius: 0%; 
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 0%; 
  background-color: #292b2c;
  min-height: 55px;
  margin-bottom: 0px;
}

.navbar-nav>li>a {
  padding-top: 18px;
}

/* inputs */

.form-control{
  height: 46px;
      /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 0%; 
  /* Firefox 1-3.6 */
  -moz-border-radius: 0%; 
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 0%; 
}

.form-search{
  height: 55px;
}

.form-custom{
 height: 55px; 
}

.input-group-custom{
  width: 50%;
}

/* input-group */

.input-group-btn > .btn {
  line-height: 2.35;
}

.input-group-btn > .btn-search {
  line-height: 2.98;
}

/* ------------------- end overide */


/* badge */

.badge-danger{
  background-color: #e74c3c;
}


/* Footer */

.footer > .container{
  margin-top: 10px;
}

.clear{
  clear: both;
}

.fs24{
  font-size: 24px;
  font-weight: 600;
}

.fs20{
  font-size: 20px;
}

.fw600{
  font-weight: 600;
}

.rel{
  position : relative;
}


.m0{
  margin :0;
}

.mt-10 , .mt10{
	margin-top: 10px;
}

.mt-15 , .mt15{
  margin-top: 15px;
}

.mt-20 , .mt20{
  margin-top: 20px;
}

.mt-25 , .mt25{
  margin-top: 25px;
}

.m25, .m-25{
  margin: 25px;
}

.m20, .m-20{
  margin: 20px;
}

.m15, .m-15{
  margin: 15px;
}

.m10, .m-10{
  margin: 10px;
}

.mb0, .mb-0{
  margin-bottom: 0;
}

.mb5, .mb-5{
  margin-bottom: 5px;
}

.mb10, .mb-10{
  margin-bottom: 10px;
}

.mb15, .mb-15{
  margin-bottom: 15px;
}

.mb20, .mb-20{
  margin-bottom: 20px;
}

.mb25, .mb-25{
  margin-bottom: 25px;
}

.mb100, .mb-100{
  margin-bottom: 70px;
}

.pt15 , .pt-15{
  padding-top: 15px;
}

.w40{
  width: 60px;
}

/* voice */

#voice{
  width: 55px;
  height: 55px;
  background-color: #292b2c;
/*   background-color: dodgerblue; */
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  text-align: center;
  cursor: pointer;
}

#voice span{
  color : white;
  font-size: 18px;
  line-height: 55px;
  position: relative;
}


/* twitter card */

.drop-notifs {
  width: 340px;
}


.notif-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    height: 130px;
    padding-top: 3px;
    max-width: 340px; // width: 290px;
    display: block !important;
}

.notif-message {
  overflow: hidden;
  height: 55px;
  font-size: 13px;
  padding-right: 15px;
  font-weight: 500;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.notif-avatarLink {
    background-color: #fff;
    border-radius: 0px;
    display: inline-block !important;
    float: left;
    margin: 0px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.notif-avatarImg {
    border: 2px solid #fff;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}
.notif-divUser {
    margin: 5px 0 0;
}
.notif-divName {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.notif-divName a {
    color: inherit !important;
}
.notif-divStats {
    margin-left: 11px;
    padding: 0px 0;
}
.notif-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.notif-Arrange {
    list-style: outside none none;
    margin: 4px 0 0 0;
    padding: 0;
}
.notif-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.notif-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.notif-StatValue {
    display: block;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.notif-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
    display: block;
}


/* Card details */



.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
/*     background: url("http://lorempixel.com/850/280/nature/4/");
background-size: cover; */
    height: 135px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    cursor: pointer;
}

.card.hovercard .avatar img {
    width: 75px;
    height: 75px;
    max-width: 75px;
    max-height: 75px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}